<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/about.css" />
  </head>
  <body>
    <section id="container">
      <div class="back-img"></div>
      <nav class="nav-bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#container">about</a></li>
          <li><a href="#page">works</a></li>
        </ul>
      </nav>
      <div class="title">
        <h2>About</h2>
      </div>
    </section>

    <section id="page">
      <div class="third-img"></div>
      <div class="title">
        <h2>Works</h2>
      </div>
    </section>
  </body>
  <script src="/static/about.js"></script>
</html>
