<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <%- include("./component/log.ejs")%>
    <div class="container">
      <h1>Create post</h1>
      <p class="error"><%= error%></p>
      <form action="/auth/post"  method="post" id="post-form">
        <input type="text" id="title" name="title" placeholder="title"/>
        <input type="text" id="sub" name="sub" placeholder="sub-title" />
        <textarea name="body" id="body" cols="30" rows="10" placeholder="create post"></textarea>
        <button type="submit">Create-Post</button>
      </form>
    </div>
    <%- include("./component/footer.ejs")%>
  </body>
</html>
