<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <%- include('./component/nav.ejs')%>
    <form action="/signup" method="post">
      <h2>sign-up below</h2>
      <p class="error"><%=error%></p>
      <input type="text" placeholder="Full name" id="text" name="name" />
      <input type="text" placeholder="Email" id="email" name="email" />
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
      />
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        placeholder="confirm password"
      />
      <input type="tel" placeholder="Phone-number" id="phone-number" />
      <input type="text" placeholder="Residential-address" id="address" />
      <button type="submit">sign-up</button>
    </form>
    <%- include('./component/footer.ejs')%>
  </body>
</html>
