*{
    margin: 0;
    padding: 0;
}


/* mediaquerry */
@media only screen and (max-width: 600px) {
    *{
      margin: 0;
      padding: 0;
    }
    a {
      font-size: 12px;
    }
  }
    /* mediaquerry */
    @media only screen and (max-width: 400px) {
        *{
            margin: 0;
            padding: 0;
          }
      a {
        font-size: 10px;
      }
    }