* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(270deg, white, #b8c1d4);
  font-family: "Roboto", sans-serif;
}

form {
  box-shadow: 0 3px 6px rgba(22, 18, 81, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  height: auto;
  background: #3b5998;
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}

h3 {
  text-align: center;
  color: #0db8de;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  background-color: #e8eef1;
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  border-radius: 5px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5;
  width: 250px;
  height: 30px;
}

input:hover {
  background-color: #3b5998;
}

h2 {
  text-align: center;
  color: white;
  margin-top: 20px;
}

button {
  height: 40px;
  width: 95px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #0db8de;
  color: white;
  border-radius: 5px;
  border: none;
}

#btnforgot {
  width: 138px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #0db8de;
  color: white;
  border-radius: 5px;
  border: none;
}

.error {
  color: red;
  font-size: 15px;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #3b5998;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 700;
}

.head {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: linear-gradient(white, red, white);
}
pre{
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

/* mediaquerry */
@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 10px;
  }
}

/* mediaquerry */
@media only screen and (max-width: 400px) {
  a {
    font-size: 10px;
  }
}